<div class="row">
  <div class="container">
    <div class="col">
          <select class="form-control" id="foo">
            <option value="december2017/dec1">1 December</option>
            <option value="december2017/dec2">2 December</option>
            <option value="december2017/dec3">3 December</option>
            <option value="december2017/dec4">4 December</option>
            <option value="december2017/dec5">5 December</option>
            <option value="december2017/dec">6 December</option>
            <option value="december2017/dec7">7 December</option>
            <option value="december2017/dec8">8 December</option>
            <option value="december2017/dec9">9 December</option>
            <option value="december2017/dec10">10 December</option>
            <option value="december2017/dec11">11 December</option>
            <option value="december2017/dec12">12 December</option>
            <option value="2december2017/dec13">13 December</option>
            <option value="december2017/dec14">14 December</option>
            <option value="december2017/dec15">15 December</option>
            <option value="december2017/dec16">16 December</option>
            <option value="december2017/dec17">17 December</option>
            <option value="december2017/dec18">18 December</option>
            <option value="december2017/dec19">19 December</option>
            <option value="december2017/dec20">20 December</option>
            <option value="december2017/dec21">21 December</option>
            <option value="december2017/dec22">22 December</option>
            <option value="december2017/dec23">23 December</option>
            <option value="december2017/dec24">24 December</option>
            <option value="december2017/dec25">25 December</option>
            <option value="december2017/dec26">26 December</option>
            <option value="december2017/dec27">27 December</option>
            <option value="december2017/dec28">28 December</option>
            <option value="december2017/dec29">29 December</option>
            <option value="december2017/dec30">30 December</option>
            <option value="december2017/dec31">31 December</option>
          </select>
    </div>
  </div>
</div>

<script>
    document.getElementById("foo").onchange = function() {
        if (this.selectedIndex!==0) {
            window.location.href = this.value;
        }        
    };
</script>



<div class="row">
  <div class="col"><canvas id="mycanvas1volt"  width="150px" height="60px"></canvas></div>
  <div class="col"><canvas id="mycanvas1cur"  width="150px" height="60px"></canvas>
</div>
</div>
<div class="row">
  <div class="col">]<canvas id="mycanvas2volt"  width="150px" height="60px"></canvas></div>
  <div class="col">]<canvas id="mycanvas2cur"  width="150px" height="60px"></canvas></div>
</div>

<!--<h3 id="date"></h3>-->

<!--Graph-->
<script> 
  var T1 = [<% for app in @search1%>"<%= app.created_at.strftime("%d-%m-%Y %I:%M %p") %>",<%end%>];
  var config1volt = {
    type: 'line',
    data: {
      labels: T1,
      datasets: [{label: 'Voltage', backgroundColor: "#11a", borderColor: "#11a",data: [<% for app in @search1%><%= app.Voltage %>,<%end%>],fill: false,}]
    },
    options: {responsive: true,scales: {
        xAxes: [{display: true,scaleLabel: {display: true,labelString: 'Time'}}],
        yAxes: [{display: true,scaleLabel: {display: true,labelString: 'Voltage(v)'}}]
      }
    }
  };
  var config1cur = {
    type: 'line',
    data: {
      labels: T1,
      datasets: [{label: 'Current',backgroundColor: "#a11",borderColor: "#a11", data: [<% for app in @search1%><%= app.Current %>,<%end%>],fill: false,}]
    },
    options: {responsive: true,scales: {
        xAxes: [{display: true,scaleLabel: {display: true,labelString: 'Time'}}],
        yAxes: [{display: true,scaleLabel: {display: true,labelString: 'Current(mA)'}}]
      }
    }
  };

    var T2 = [<% for app in @search2%>"<%= app.created_at.strftime("%d-%m-%Y %I:%M %p") %>",<%end%>];
  var config2volt = {
    type: 'line',
    data: {
      labels: T2,
      datasets: [{label: 'Voltage', backgroundColor: "#11a", borderColor: "#11a",data: [<% for app in @search2%><%= app.Voltage %>,<%end%>],fill: false,}]
    },
    options: {responsive: true,scales: {
        xAxes: [{display: true,scaleLabel: {display: true,labelString: 'Time'}}],
        yAxes: [{display: true,scaleLabel: {display: true,labelString: 'Voltage(v)'}}]
      }
    }
  };
  var config2cur = {
    type: 'line',
    data: {
      labels: T2,
      datasets: [{label: 'Current',backgroundColor: "#a11",borderColor: "#a11", data: [<% for app in @search2%><%= app.Current %>,<%end%>],fill: false,}]
    },
    options: {responsive: true,scales: {
        xAxes: [{display: true,scaleLabel: {display: true,labelString: 'Time'}}],
        yAxes: [{display: true,scaleLabel: {display: true,labelString: 'Current(mA)'}}]
      }
    }
  };
  var ctx1volt = document.getElementById('mycanvas1volt').getContext('2d');
  window.myLine = new Chart(ctx1volt, config1volt);
  var ctx1cur = document.getElementById('mycanvas1cur').getContext('2d');
  window.myLine = new Chart(ctx1cur, config1cur);
  var ctx2volt = document.getElementById('mycanvas2volt').getContext('2d');
  window.myLine = new Chart(ctx2volt, config2volt);
  var ctx2cur = document.getElementById('mycanvas2cur').getContext('2d');
  window.myLine = new Chart(ctx2cur, config2cur);
</script>  
